body{
	height: 100%;
	margin: 0;
  	width:100%;
	background: #e5ba8f;
	/*background: url("../images/editedbkrnd.png");*/
}
body::before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
  }


.name{
	outline: black, 2px, solid;
	font-size: 50px;
}
.skills{
	width: 25%;
	height: 20%;
}

ul{
	list-style: none;
}


.footer {  
    position: fixed; 
    bottom:0%;
    width:100%; 
}

.headingTitle{
	padding-top: 20px;
	font-size: 80px;
	color: rgb(46, 3, 3);
	font-weight: bold;

}

.jtron{
	position: relative;
	background: rgba(31,136,113,0.4);
	margin: 0;
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.projectCard{
	border-radius: 50px;
	background: rgba(31,136,113,0.2);
	color: white;
	text-align: center;
	font-size: 20px;
}

.card-body{
	font-size: 1.8em;
}

.card-img-top{
	border-radius: 50px;
}



#title{
	font-size: .5em;
	font-weight: 200;
}

.projectTitle{
	font-family: 'Concert One', cursive;
	font-size: 2em;
	text-align: center;
	color: #821B12;
}
.projectPic{
	width: 50%;
	border-radius: 30%;
	margin-top: 3%;
	height: 35%;
}
.projectPic:hover{
	cursor: pointer;
	opacity: .8;
}
.projectText{
	font-size: 1.2;
	width: 50%;
	text-align: left;
	font-weight: bolder;
	outline-color: rgb(10, 17, 16);
	color: #821B12;
}


.colAbout{
	margin-top: 70px;
}

.colskills{
	border-radius: 5%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	width: 85%;
}
.colskills{
	margin-top: 70px;
}

.colAbout{
	border-radius: 5%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	width: 85%;
}

.colProject{
	padding-top: 40px;
}
.bioImage{
	width: 35%;
	border-radius: 100%;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.mail{
	text-decoration: none;
	color:white;
	font-size: 38px !important;
}
.mail:hover{
	color: rgb(84, 173, 245);
}
.email{
	font-size: 1.5em;
	display: inline-block; 
	font-family: 'Courgette', cursive;
}
.name{
	font-family: 'Courgette', cursive;
	color:#821B12;
}
.aboutMe{
	text-align: center;
	font-family: 'Courgette', cursive;
	color:#821B12;
	font-weight: bolder;
}

.aboutMeText{
	font-size: 1.2em;
}
.githubImg, .linkedinImg, .stackImg{
	width: 8%;
	border-radius: 100%;
}
.stackImg:hover{
	opacity: 25%;
}

.githubImg{
	margin-right: 7%;
}
.stackImg{
	margin-left: 7%;
}






